*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
section{
    background: yellow;
    height: 88%;
    overflow-y: scroll;
}
section .post{
    width: 40%;
    height: 80%;
    margin: 0 auto;
    margin-top: 60px;
    border: 2px solid black;
}
