header{
    height: 70px;
}
.headerPosit{
    height: 100%;
    border: 1px solid red;
    background: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userSelect ul{
    list-style: none;
    border: 1px solid black;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.userSelect ul li{
    border : 1px solid red;
}