<header>
    <div class = "headerPosit">
        <div class = "logo">로고</div>
        <div class = "search">
            <form>
                <input type = "text">
            </form>
        </div>
        <div class = "userSelect">
            
            <% if(isLogin) { %>
                <p><%= user %>님 안녕하세요</p>
                <ul>
                    <li><a href = "/">홈</a></li>
                    <li><a href = "#">게시물 올리기</a></li>
                    <li><a href = "/user/logout">로그아웃</a></li>
                    <li><a href = "/user/mypageInfo">마이페이지</a></li>
                </ul>
            <% } else { %>
                <ul>
                    <li><a href = "/">홈</a></li>
                    <li><a href = "/user/login">로그인</a></li>
                </ul>
            <% } %>
            
        </div>
    </div>
</header>